{% extends 'ShoppingCartApp/base.html' %}
{% load static %}
{% block body %}
<script>
var user = '{{ request.user }}'
function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
const csrftoken = getCookie('csrftoken');
console.log('csrftoken:', csrftoken)
</script>
<body>
	<main>
		<header class="site-header sticky-top py-1">
			<nav class="container d-flex flex-column flex-md-row justify-content-between">
				<a class="py-2" href="#" aria-label="Product">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mx-auto" role="img" viewBox="0 0 24 24">
						<title>Product</title>
						<circle cx="12" cy="12" r="10" />
						<path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94" />
					</svg>
				</a>
            </nav>
		</header>
        <div class="row mb-5">
            <div class="offset-md-7 col-md-4">
                <h1>Your Cart</h1>
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Product Name</th>
                            <th class="text-center">Quantity</th>
                            <th class="text-center">Price</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for item in cart_items %}
                    <tr>
                        <td>{{ item.product.name }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>${{ item.product.price }}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td>TOTAL:</td>
                        {% for key, value in quantity.items %}
                            <td>{{ value }}</td>
                        {% endfor %}
                        <td>${{ total_price }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-md-4">
                <img class="img-thumbnail float-right" src="{{ MEDIA_URL }}{{ product.image.url }}" alt="...">
            </div>
            <div class="col-md-6">
                <h1>{{ object.name }}</h1>
                <p>Price: ${{ object.price }}</p>
                <p>Description: {{ object.description }}</p>
                <p>Published: {{ object.created_at|date }}</p>
                <button data-product="{{ object.id }}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">ADD TO CART</button>
            </div>
        </div>
	</main>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
<script src="{% static 'shoppingcartapp/cart.js' %}"></script>
{% endblock %}
